<div id="experience" class="flex flex-col w-1/2">
  <div class="flex h-[50%]">
    <h1 class="inika-regular text-sm">{{name}}</h1>
  </div>
  <div class="grid grid-rows-3 grid-cols-3 gap-3 h-[75%] w-1/2">
    <img
      src="{{url1}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url2}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url3}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url4}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url5}} "
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url6}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url7}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url8}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
    <img
      src="{{url9}}"
      class="object-fill w-[80px] hover:-translate-y-0.5 duration-300"
    />
  </div>
</div>
