<div class="flex bg-[#9CDBA6] w-[15%] h-screen position-fixed">
  <ul class="flex flex-col justify-around cursor-pointer">
    <li
      id="font-small"
      class="hover:text-white transition-colors duration-300 inika-bold"
    >
      About
    </li>
    <li
      id="font-small"
      class="hover:text-white transition-colors duration-300 inika-regular"
    >
      Experience
    </li>
    <li
      id="font-small"
      class="hover:text-white transition-colors duration-300 inika-regular"
    >
      Projects
    </li>
    <li
      id="font-small"
      class="hover:text-white transition-colors duration-300 inika-regular"
    >
      Contact
    </li>
  </ul>
</div>
