<div class="flex relative p-2.5 w-full h-[20%]">
  <a
    class="hover:text-white transition-colors duration-300 place-self-center text-[25px] mr-2 inika-regular"
    href="#about-me"
    >About</a
  >
  <a
    class="hover:text-gray-100 transition-colors duration-300 place-self-center text-[25px] mr-2 inika-regular"
    href="#experience"
    >Experience</a
  >
  <a
    class="hover:text-white transition-colors duration-300 place-self-center text-[25px] mr-auto inika-regular"
    href="#contact"
    >Contact</a
  >

  <div class="place-self-center align-self-center mr-auto ml-auto inika-bold">
    {{title}}
  </div>

  <img
    class="place-self-center pr-2.5 ml-auto object-fill mr-2 w-[80px]"
    src="{{url2}}"
  />
  <img
    class="place-self-center pr-2.5 mr-2 object-fill w-[80px]"
    src="{{url3}}"
  />
</div>
